<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <!-- Assume test is the database name -->

        <property name="hibernate.connection.url">
            jdbc:mysql://34.87.14.0/final_web_project
        </property>

        <property name="hibernate.connection.username">
            acc_db_web
        </property>

        <property name="hibernate.connection.password">
            webproject2022
        </property>
        <property name="show_sql">true</property>
        <property name="hibernate.format_sql">true</property>


        <!--List of XML mapping files &ndash-->
        <mapping class="com.webproject.model.User"/>
        <mapping class="com.webproject.model.UserAddress"/>
        <mapping class="com.webproject.model.UserLevel"/>
        <mapping class="com.webproject.model.UserFollowProduct"/>
        <mapping class="com.webproject.model.UserFollowStore"/>
        <mapping class="com.webproject.model.Category"/>
        <mapping class="com.webproject.model.Product"/>
        <mapping class="com.webproject.model.ProductImg"/>
        <mapping class="com.webproject.model.Cart"/>
        <mapping class="com.webproject.model.CartItems"/>
        <mapping class="com.webproject.model.OrderItems"/>
        <mapping class="com.webproject.model.Orders"/>
        <mapping class="com.webproject.model.StoreLevel"/>
        <mapping class="com.webproject.model.Store"/>
        <mapping class="com.webproject.model.Commission"/>
        <mapping class="com.webproject.model.Review"/>
        <mapping class="com.webproject.model.Delivery"/>
        <mapping class="com.webproject.model.Role"/>

    </session-factory>

</hibernate-configuration>